@charset "UTF-8";

* {
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif ;
}
body {
    background-image: linear-gradient(to right, #ad9c43, #736002);
}
main {
    background-color: white;
    border-radius:10px ;
    box-shadow: 5px 5px 15px #503c02e0;
    width: 600px;
    padding: 10px ;
    margin: auto;
}
h1 {
    color: #e0953f;
    text-align: center;
    text-shadow: 1px 1px 2px  #7c5223cc ;
}
h2 {
    color:#5c5328 ;
}
p {
    text-align: justify;
}